@using Microsoft.Identity;





<ul class="login-block d-flex justify-content-end navbar-nav flex-grow-1">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item d-flex">
            @if(@User.IsInRole("Admin")){
                <div class="alert alert-primary mr-4" role="alert" style="margin-right: 10px">      
                    Role: Admin
                </div>
            }else{
                <div class="alert alert-primary mr-4" role="alert" style="margin-right: 10px">    
                    Role: User
                </div>
            }
            <div class="alert alert-info" role="alert">
                Name: @User.Identity.Name 
            </div>
        </li>
        <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Wyloguj</a>
        </li>
        
    }else{
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login" asp-route-returnUrl="/">Zaloguj się</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="SignUp" asp-route-returnUrl="/">Zarejestruj się</a>
        </li>
    }
    
    
    
</ul>