@using MinecraftStore.Data.Enum
@model Product

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="Edit" method="post">
  <div class="mb-3">
    <label asp-for="Name" class="form-label">Nazwa</label>
    <input asp-for="Name" type="text" class="form-control">
  </div>

  <div class="mb-3">
    <label asp-for="CreatedDate" class="form-label">Data stworzenia</label>
    <input asp-for="CreatedDate" type="date" class="form-control">
  </div>

  <div class="mb-3">
    <label asp-for="Price" class="form-label">Cena</label>
    <input asp-for=Price type="number" min="0.01" step="any" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Rarity" class="form-label">Zadkosc</label>
    <select class="form-control" asp-for="Rarity" asp-items= "@Html.GetEnumSelectList<RarityOfProduct>()"></select>
  </div>
  <div class="mb-3">
    <label asp-for="Image" class="form-label">Zadkosc</label>
    <select class="form-control" asp-for="Image" asp-items= "@Html.GetEnumSelectList<ImgOfProduct>()"></select>
  </div>



  <input type="submit" class="btn btn-primary" value="Edytować"/>
</form>

@*
<form asp-action="ContactForm" method="post">
 <div asp-validation-summary="All"></div>
 <div>
 <label asp-for="Name">Twoje imię</label>
 <div>
 <span asp-validation-for="Name" class="text-danger"></span>
 </div>
 <input class="form-control" type="text" asp-for="Name"/>
 </div>
 ...
</form>*@
